.header-container{
  height: 130px;
  background-color: #6d737f;
  display: flex;
  justify-content: space-between;
}
.header-image{
  height: 100%;
}
.header-p-container{
  display: flex;
  align-items: center;
}
.header-p{
  color: #F0FFF2;
  font-size: 24px;
  padding-right: 28px;
  margin: 0;
  font-weight: 900;
}